.sidebar {
    display: flex;
    flex-direction: column;
    width: 64px;
    height: 100vh;
    background-color: #151B1F;
    justify-content: space-between;
    padding: 28px 0;
    align-items: center;
    box-sizing: border-box;
}

.sidebar-menu {
    display: block;
}

.sidebar-menu-mobile,
.sidebar-menu-close-mobile {
    display: none;
}

.sidebar-menu-close-mobile {
    position: absolute;
    left: 8px;
    top: 16px;
}

.sidebar-menu-icon {
    width: 32px;
    height: 32px;
}

.sidebar-menu-text {
    color: #0EC261;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0;
    text-align: left;
}

.sidebar-splash {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 64px;
    z-index: 999999;
    display:flex;
}

.sidebar-splash-icon {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.sidebar-splash-content {
    padding-left: 32px;
    display: flex;
    flex-direction:column;
    flex: 1;
    background-color: #151B1F;
    max-width: 50%;
    justify-content: center;
}

.sidebar-splash-transparent {
    flex: 1;
    background-color: #151B1F81;
    max-width: 50%;
}
.sidebar-content {
    display: flex;
    padding: 8px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-family: Roboto;
font-size: 32px;
line-height: 38px;
text-align: left;

}

.sidebar-content:hover {
    color: #0EC261;
}

@media screen and (max-width: 767px) {
    .sidebar {
        background-color: transparent;
        position: absolute;
        padding: 16px;
    }

    .sidebar-menu-text {
        display: none;
    }

    .sidebar-menu {
        display: none;
    }

    .sidebar-menu-mobile,
    .sidebar-menu-close-mobile {
        display: block;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .sidebar-splash-content {
        max-width: 60%;
    }
    .sidebar-splash-transparent {
        max-width: 40%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .sidebar-splash-content {
        max-width: 100%;
    }
    .sidebar-splash-transparent {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .sidebar-splash {
        left: 0;
    }
    .sidebar-splash-content {
        max-width: 100%;
    }
    .sidebar-splash-transparent {
        display: none;
    }
}

.sidebar-content {
    color: white;
    transition: color 0.2s ease-in;
}

#telegram .icon,
#instagram .icon,
#facebook .icon {
    fill: white;
    transition: fill 0.2s ease-in;
}

.sidebar-content:hover {
    fill: #0EC261;
    transition: color 0.2s ease-out;
}

#telegram:hover .icon,
#instagram:hover .icon,
#facebook:hover .icon {
    fill: #0EC261;
    transition: fill 0.2s ease-out;
}
