.list {
    display: flex;
    flex-direction: row;
    min-height: 32px;
    max-width: 100%;
    border-bottom: 1px solid #EEEEEE;
    box-sizing: border-box;
    align-items: center;
    padding-left: 64px;
}

.listItem {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    padding: 0;
}

.activeItem {
    color: #0EC261;
}

.prevItem {;
    font-weight: bold;
    color: #121212;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media screen and (max-width: 767px) {
    .list {
        padding-left: 16px;
        padding-right: 16px;
        overflow-y: scroll;
        width: 100vw;
        /*height: 100px;*/
    }
}
