body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: none;
  border: none;
}

.slick-dots li {
  width: 8px;
}

.slick-slide img {
  display: inline;
}

.slick-active .dot, .dot:active {
  background-color: #0EC261;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: #eee;
  display: block;
  position: relative;
  bottom: 32px;
}
