.slider-wrapper {
    /*display: flex;*/
    /*height: 100vh;*/
}

.slider-item {
    height: 100vh;
    position: relative;
    color: #FFFFFF;
}

.slider-item-over {
    padding: 86px;
    margin-top: 195px;
}

.slider-item-text-h3 {
    display: flex;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;

}

.slider-item-text-intro {
    display: flex;
    font-size: 24px;
    font-style: normal;
    color: #EEEEEE;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0;

}

.slider-item-button {
    height: 48px;
    width: 164px;
    background: linear-gradient(90deg, #13493F 0%, #0C7B1B 100%);
    border-radius: 4px;
    margin-top: 64px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #EEEEEE;

}

.slider-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-image-cover {
    background-color: #12121260;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.slider-dot {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: #eee;
    display: block;
    position: relative;
    bottom: 32px;
}

.slick-dots li {
    width: 8px;
}

.slick-active .slider-dot, .slider-dot:active {
    background-color: #0EC261;
}

.slider-arrow {
    height: 100vh;
    width: 64px;
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-arrow-background {
    background-color: #0EC26120;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.slider-back-arrow {
    left: 0;
}

.slider-next-arrow {
    top: 0;
    right: 0;
}

.slider-arrow-background:hover {
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

.slick-slide img {
    display: inline;
}
